{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">

<h1 class="">Delete Game</h1>

<h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
<div class="container">
  <div class="p-3 w-75 mb-5 card">
    <div class="card content">
      
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn">
        <a href="{% url 'detail' game.id %}">Cancel</a>
      </form>
    </div>  
  </div>
</div>
{% endblock %}