{% extends 'base.html' %}
{% block content %}

  <main class="mainContainer container">
    <div class="w-50 p-3 whiteBox container">
    {% if object %}
        <h1>Edit: <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
        <h1>Add Game</h1>
        <br>
    {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <table>
            <form action="" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="HUeo8zjVEOIw4uaaoibgJumSvH1SviS9xgl3JkakfG0FWVAeImJ65zNJ8kBb5gOe"><table>
                <tbody>
                  <tr>
                    <th>
                      <label for="id_name">Name:</label>
                    </th>
                    <td>
                      <input class="form-control mb-2 mr-sm-2" type="text" name="name" maxlength="150" required="" id="id_name">
                    </td>
                  </tr>
              <tr>
                <th>
                  <label for="id_developer">Developer:</label>
                </th>
                <td>
                  <input class="form-control mb-2 mr-sm-2" type="text" name="developer" maxlength="200" required="" id="id_developer">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="id_rated">ESRB:</label>
                </th>
                <td>
                  <input class="form-control mb-2 mr-sm-2" type="text" name="rated" maxlength="5" required="" id="id_rated">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="id_year">Year:</label>
                </th>
                <td>
                  <input class="form-control mr-sm-2" type="number" name="year" required="" id="id_year">
                </td>
              </tr>
          
              </tbody>
            </table>
              <br>
              <input type="submit" value="Submit!" class="btn-dark btn">
            </form>
        </table>
      </form>
    </div>
  </main>
{% endblock %}