{% extends 'base.html' %}
{% block content %}

<main class="mainContainer container">
    <div class="w-5 p-3 whiteBox container">
        <h1 class="gameTitle">Game Changer</h1>
        <div class="container">
            <span class="emailPassword" >Email</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <span class="emailPassword">Password</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="mb-3 btn btn-dark btn-lg btn-block">Sign In</button>
            <button type="button" class="btn btn-dark btn-lg btn-block">Register</button>
        </div>
    </div>
</main>

{% endblock %}