body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Spectral SC";
    background: url("https://i.imgur.com/00TQdeu.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

#id_review {
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  resize: none;
}
#id_review:focus {
  outline: 0;
}
#id_rating {
  border-radius: 10px;
  vertical-align: auto;
  text-align-last: center;
  margin: 0 10px;
  width: 5em;
}
.ratingNumber {
  text-align: center;
}

form {
  padding: 15px;
  background:rgba(255,255,255, 0.85);
  border-radius: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  background-color: white;
  background:rgba(255,255,255, 0.85);
  border-radius: 20px;
  overflow: scroll;
}


main {
    flex: 1 0 auto;
}
  
footer.page-footer {
padding-top: 0;
text-align: right;
}
  
.btn {
  background-color: #1874CD	;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card {
  border-radius: 20px;
    display: flex;
    background: rgba(255,255,255, 0.85) !important
}

.comments {
  display: flex;
  flex-direction: row;
  height: 227px;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  height: 400px;
  max-width: 400px;
  background: rgba(255,255,255, 0.85);
}

h1 {
    color: white !important;
}
