body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Spectral SC";
    background: url("https://i.imgur.com/00TQdeu.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
main {
  flex: 1 0 auto;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}
  
.btn {
  background-color: #1874CD	;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  height: 400px;
  max-width: 400px;
  background: rgba(255,255,255, 0.85);
}

h1 {
    margin: 15px 0;
    color: white !important;
    text-align: center;
}

.card{
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

