body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Spectral SC";
    background: url("https://i.imgur.com/00TQdeu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  
.btn {
  background-color: #1874CD	;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  height: 400px;
  max-width: 400px;
  background: rgba(255,255,255, 0.85);
}

.emailPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start !important;
  font-size:13px;
}

.gameTitle {
  color: black;
}

.gamelist-group > .row {
  display: block;
  overflow: scroll;
  white-space: nowrap;
}

.tablesc {
  overflow:scroll;
  height:750px;
  width:500px;
}