{% extends 'base.html' %}
 {% load static %} 
 {% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/api.css' %}" />

<h1>List of Games:</h1>
{% for i in data %}
<main  class="mb-5 mainContainer container">
  <div style="background-image: url({{i.background_image}});" class="w-50 p-3 whiteBox container">
    <form action="{% url 'games_create' %}" method="post">
      {% csrf_token %}
      <table>
        <tbody>
          <tr class="mb-2">
            <th>
              <label class="textStuff" for="id_name">Name:</label>
            </th>
            <td>
              <input
                class="form-control"
                type="text"
                name="name"
                maxlength="150"
                required
                value="{{i.name}}"
              />
            </td>
          </tr>
          <tr class="mb-2">
            <th>
              <label class="textStuff" for="id_developer">Developer:</label>
            </th>
            <td>
              <input
                class="form-control"
                type="text"
                name="developer"
                maxlength="200"
                required
                
              />
            </td>
          </tr>
          <tr class="mb-2">
            <th>
              <label class="textStuff" for="id_rated">Rated:</label>
            </th>
            <td>
              <input
                class="form-control"
                type="text"
                name="rated"
                maxlength="5"
                required
                value="{{i.esrb_rating.name}}"
                
              />
            </td>
          </tr>
          <tr>
            <th>
              <label class="textStuff" for="id_year">Year:</label>
            </th>
            <td>
              <input class="form-control" type="number" name="year" required value="{{i.released|slice:":4"}}" />
            </td>
          </tr>
          <tr>
          
            <td>
              <input type="hidden" value="{{i.background_image}}"  name="image" />
            </td>
          </tr>
          
        </tbody>
      </table>
      <br />
      <input type="submit" value="Submit!" class="btn btn-dark" />
      
    </form>
  </div>
</main>

{%endfor%} {% endblock %}
