{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/details.css' %}" />


<h1>Game Details</h1>
<main class="detailsContainer container">

  <div class="p-3 w-75 mb-5 card">
    <div class="card-content">
      <span class="card-title">{{ game.name }}</span>
      <p>Developer: {{ game.developer }}</p>
      <p>Rated: {{ game.rated }}</p>
      <p>Year: {{ game.year }}</p>
      <p class="mb-0">Description</p>
    </div>
    <hr>
    <div class="card-action">
      <a class="btn btn-dark mr-2" href="{% url 'games_update' game.id %}">Edit</a>
      
      <a class="btn btn-dark mr-2" href="{% url 'games_delete' game.id %}">Delete</a>

      {% if game.id in favs %}
        <a class="btn btn-dark" href="{% url 'favorite_create' game.id %}">Unfavorite Game</a> 
      {% else %}
        <a class="btn btn-dark" href="{% url 'favorite_create' game.id %}"> Favorite Game</a> 
      {% endif %}

    </div>
  </div>

  <div class="comments container">
    <div class="review container">
        <form method="post" action="{% url 'reviews_create' game.id %}">
          {% csrf_token %}
          {{ review_form.as_p }}
          <input type="submit" class="btn btn-dark" value="Add Review">
          <br>
        </form>
    </div>
    <div class="box container">
      {% if game.review_set.all %}
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Reviews</th>
                <th class="ratingNumber">Rating</th>
              </tr>
            </thead>
            <tbody>
              {% for review in game.review_set.all %}
                <tr>
                  <td>{{review.review}}</td>
                  <td class="ratingNumber">{{review.rating}}</td>
                  <td><a class="btn btn-dark" href="{% url 'rev_delete' review.id %}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}

    </div>
  </div>
</main>

{% endblock %}