{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" />


<div class="container gamelist-group">
  <h1>Favorite Games</h1>

  <main class="mainContainer container">
    <div class="tablesc">
      <table class="table">
        <thead class="thead-light">
          <tr>

            {% for fav in favs %}
            <div class="card w-75 mb-3">
              <div class="card-body">
                <a href="{% url 'detail' fav.game.id %}">
                  <h5 class="text card-title">{{ fav.game.name }}</h5>
                  <p class="text card-text"> Developer: {{ fav.game.developer }}</p>
                  <p class="text card-text"> Rated: {{ fav.game.rated }}</p>
                  <p class="text card-text"> Year: {{ fav.game.year }}</p>
                </a>
                <a class="btn btn-dark mt-3" href="#">Delete</a>
              </div>
            </div>
            {% endfor %}
            </tbody>
      </table>
    </div>
</div>
</main>
{% endblock %}